<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>About Rango</title>
    </head>
    
    <body>
        <h1>About</h1>
        
        <div>
            This tutorial has been put together
			by Connor Jardine<br />
        </div>
        
        <div>
            <br />
            <img src="{% static "images/dog.jpg" %}"
                 alt="Picture of dog" /> <!-- New line -->
			<img src="{{ MEDIA_URL}}cat.jpg"
				 alt="Picture of cat" /> <!-- New line -->
        </div>
    </body>
    
</html>